<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="subdomainLookup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <subdomainLookup.Properties.Settings>
            <setting name="s_Brute_Last" serializeAs="String">
                <value />
            </setting>
            <setting name="s_ListFile" serializeAs="String">
                <value />
            </setting>
            <setting name="s_LastUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="s_LastMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_Delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="s_Proxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_ProxyString" serializeAs="String">
                <value />
            </setting>
        </subdomainLookup.Properties.Settings>
    </userSettings>
</configuration>